#narrowScreen{
@media screen and (max-width: 600px){
    p{
       color: purple;
    }
}
@media screen and (min-width: 600px){
    p{
       color: green;
    }
}
}
#wideScreen{
    @media screen and (max-width: 800px){
        p{
           color: red;
        }
    }
    @media screen and (min-width: 800px){
        p{
           color: lightblue;
        }
    }
}
#shortScreen{
    @media screen and (max-height: 500px){
        p{
           color: yellow;
        }
    }
    @media screen and (min-height: 500px){
        p{
           color: green;
        }
    }
}
#tallScreen{
    @media screen and (max-height: 800px){
        p{
           color: lavender;
        }
    }
    @media screen and (min-height: 800px){
        p{
           color: orange;
        }
    }
}
