body{
    background-color: beige;
}
#box1{
    border-style:solid;
    width: 40vw;
    height: 33vh;
    border-color:rgba(20, 250, 173,10);
    border-width: 3px;
    border-radius:10px;
    background-color: mediumseagreen;
    position: relative;
    top: 20vw;
    /* float: top; */
    /* margin-right: 10px; */
}



#text1 {
    left: 150%;
    top: 250px;
    position: relative;

}

#box2{
    width: 73vw;
    height: 33vh;
    border-style: solid;
    border-radius:3px;
    border-color:purple;
    background-color: mediumvioletred;
    position: absolute;
    left: 1vw; bottom: 1vw;
    
}
#text2 {
   margin-left: 20px;
}

#box3{
display: block;
border-radius: 10px;
background-color: orangered;
position:relative;
/* margin-bottom: 10px; */
/* float: top; */
top: -38vw;
}

#text3 {
    font-size: 50px;
    border: 5px solid green;
    text-align: center;
}

