body{
    background-image: url(snowboarder2.jpeg);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position-x: -100px;
    border: 1px solid rgba(0, 0, 0, 0);

}
.blocker{

    width:auto;
    height:auto;
}
.logo{
    display:block;
    position: absolute;
    top: 20px; left: 20px;
    width: 100px;
    height: 86px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 5px solid darkblue;
    color: darkblue;
    padding-top: 20px;
    
    font-size: 26px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo2{
    display: inline-block;
    position: relative;
    top: 1.5px; left: 140px;
    font-size: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
